<link rel="stylesheet" href="/css/test.css">

<ul>
    <li>
        <h1 id='data-username' data-username='{{userName}}'>Tên người dùng: {{userName}}</h1>
    </li>
    <li>
        <h1 id="data-walletaddress" data-walletaddress="{{walletAddress}}">Địa chỉ ví: {{walletAddress}}</h1>
    </li>
    <li>
        <h1 class="numberMoney">Số tiền trong ví: {{nativeBalance}}</h1>
    </li>
    <li>
        <h1 class="numberMoney">Số tiền trong contract: {{contractBalance}}</h1>
    </li>
    <li>
        <h2>Tạo ví mới</h2>
        <button><a href="/wallet/create">Tạo ví mới</a></button>
    </li>
    <li>
        <h2>Xem thông tin ví</h2>
        <form action="/wallet/info" method="get"><input required type="text" name="address"
                placeholder="Nhập địa chỉ ví"><button type="submit">Xem thông tin ví</button></form>
    </li>
    <li>
        <h2>Gửi giao dịch</h2>
        <form action="/transaction/send" method="post">
            <input type="text" name="senderPrivateKey" placeholder="Private Key người gửi">
            <input type="text" name="recipientAddress" placeholder="Địa chỉ người nhận">
            <input type="number" step="any" name="amount" min="0" placeholder="Số lượng ETH">
            <button type="submit">Gửi</button>
        </form>
    </li>
    <li>
        <h2>Gửi tiền vào Contract</h2>
        <form action="/contract/deposit" method="post">
            <input type="text" name="privateKey" placeholder="Private Key của bạn">
            <input type="number" step="any" name="amount" min="0" placeholder="Số lượng ETH">
            <button type="submit">Gửi</button>
        </form>
    </li>
    <li>
        <h2>Rút tiền từ Contract</h2>
        <form action="/contract/withdraw" method="post">
            <input type="text" name="privateKey" placeholder="Private Key của bạn">
            <input type="number" step="any" name="amount" min="0" placeholder="Số lượng ETH">
            <button type="submit">Rút</button>
        </form>
    </li>
    {{!-- test chức năng của contract tranfer và history --}}
    <li>
        <h2>Chuyển eth bằng contract</h2>
        <form action="/contract/transfer" method="POST">
            <input name="privateKey" placeholder="Private Key" required />
            <input name="recipient" placeholder="Recipient Address" required />
            <input id="amountContract" name="amount" min="0" placeholder="Amount (ETH)" required />
            <input id="feeContract" name="fee" placeholder="Fee" readonly />
            <input id="total_amount_contract" name="total_amount" placeholder="total amount" readonly />
            <button type="submit">Chuyển tiền</button>
        </form>
    </li>
    <li>
        <h2>Xem lịch sử giao dịch bằng contract</h2>
        <form action="/contract/history" method="GET">
            <input name="address" placeholder="Your Address" required />
            <button type="submit">Xem lịch sử</button>
        </form>
    </li>
</ul>
<script src="/js/index.js"></script>